{% extends "index.html" %}
{% load static %}

{% block content %}
   <div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5"><img src=" {% static 'images/WhatsApp Image 2024-05-01 at 20.37.27_c2452b72.jpg' %}" class="img rounded-circle w-50" alt=""></div>
        <div class="col-sm-6"> 
            <h1>ABOUT US</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nobis consequatur, ipsa quos corporis explicabo fugit similique numquam dolore corrupti fugiat autem quisquam, repellendus nemo nulla nostrum dicta facilis? Totam?
 <h2>when</h2>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est unde dolorem, quos maiores explicabo aspernatur architecto, recusandae rerum commodi eos veritatis ipsum ut? Voluptas quasi facilis ut laborum enim laudantium!
    <h2>where</h2>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed maiores, hic aut minima placeat officia vitae odit! Deserunt quasi ducimus voluptas voluptate perspiciatis repudiandae? Voluptatem at nemo odio consequuntur neque!</p></div>
        </div>

   </div>
   {% endblock content %}

