{% extends "index.html" %}
{% load static %}

{% block content %}
   <div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5"><img src=" {% static 'images/contact.png' %}" class="img rounded-circle ml-5  w-50" alt=""></div>
        <div class="col-sm-6"> 
            <h1 class="text-center">CONTACT US</h1>
            <form class="border-black">
              <label> FIRST NAME  <input name="name" id="id" class="form-control border b-5 mb-2 border-black" type="text" placeholder="firstname:">
                <label>LAST NAME<input class="form-control border b-5 border-black mb-2" type="text" placeholder="lastname:">
                <label >EMAIL ID<input name="email" id="emailid" class="form-control border b-5 mb-2 border-black" type="email" placeholder="email:">
                <label>LEAVE IN A COMMENT  <input name="name" id="id" class="form-control border b-5 p-5 mb-2 border-black w-100" type="text" placeholder="comment:">
            <div class="text-center">
                <button class="btn btn-primary " type="submit">SUBMIT</button>
            </div>        
            </form>

           
        </div>

   </div>
{% endblock content %}